@import url("https://fonts.googleapis.com/css2?family=Dongle:wght@400;700&family=IBM+Plex+Sans+KR:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --base-primary: #2b2b2b;
}
/* font */
@layer base {
  html {
    font-family: "IBM Plex Sans KR", sans-serif;
    color: var(--base-primary);
  }
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

/* common */
html {
  scroll-behavior: smooth;
}
section {
  @apply py-[130px] border-b-2 border-base-primary bg-primary-light;
}
section.yellow {
  @apply bg-primary;
}

/* skills section */
.skills-mask {
  position: relative;
  overflow: hidden;
  -webkit-mask-image: linear-gradient(
    to right,
    transparent 0%,
    black 10%,
    black 90%,
    transparent 100%
  );
  mask-image: linear-gradient(
    to right,
    transparent 0%,
    black 10%,
    black 90%,
    transparent 100%
  );
}

.skills-swiper .swiper-wrapper {
  transition-timing-function: linear !important;
}

.dot li {
  position: relative;
  &::before {
    content: "";
    @apply absolute left-[155px] top-1 w-6 h-6 rounded-full border-2 border-base-secondary;
  }
  &::after {
    content: "";
    @apply absolute left-[165px] top-10 w-[2px] h-[70%]  bg-base-secondary;
  }
  &:nth-child(1)::before {
    @apply bg-pastel-beige;
  }
  &:nth-child(2)::before {
    @apply bg-pastel-pink;
  }
  &:nth-child(3)::before {
    @apply bg-pastel-green;
  }
}

.cursor-custom {
  cursor:
    url("/icons/cursor.png") 16 16,
    auto;
  transition: 0.2s;
}
